.selected-move-container {
    -fx-background-color: rgb(26, 23, 42);
    -fx-border-color:  linear-gradient(to right, #5A31F4, #8A66FF);
    -fx-border-width: 4px;
    -fx-background-radius: 8px;
    -fx-border-radius: 6px;
}

.selected-move-text {
    -fx-font-size: 32px;
    -fx-alignment: center;
}

.right-side {
    -fx-background-color: rgb(26, 23, 42);
    -fx-background-radius: 8px;
}

.outer-border {
    -fx-max-height: 520px;
    -fx-max-width: 520px;
    -fx-border-color: rgb(62, 194, 219);
    -fx-border-width: 6px;
    -fx-border-radius: 16px;
}

.inner-border {
    -fx-max-height: 508px;
    -fx-max-width: 508px;
    -fx-border-color: rgb(0, 79, 131);
    -fx-border-width: 6px;
    -fx-border-radius: 12px;
}

.board-grid {
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.board-grid Line {
    -fx-stroke: red;
}

.board-grid .tile-container {
    -fx-pref-width: 96px;
    -fx-pref-height: 96px;
    -fx-max-width: 96px;
    -fx-max-height: 96px;
}

.board-grid .tile-background,
.board-grid .tile-input {
    -fx-max-height: 78px;
    -fx-max-width: 78px;
    -fx-pref-height: 78px;
    -fx-pref-width: 78px;
}

.tile-modifier-background {
    -fx-max-height: 86px;
    -fx-max-width: 86px;
    -fx-background-radius: 20px;
}

.tile-modifier-background.double-word-modifier{
    -fx-background-color: rgb(236, 115, 236);
}

.tile-modifier-background.triple-word-modifier{
    -fx-background-color: rgb(115, 233, 64);
}

.board-grid .tile-background {
    -fx-background-color: white;
    -fx-border-radius: 16px;
    -fx-background-radius: 20px;
    -fx-border-width: 6px;
    -fx-border-color: linear-gradient(rgb(255, 242, 227), rgb(253, 221, 200));
}

.board-grid .tile-input {
    -fx-max-height: 78px;
    -fx-max-width: 78px;
    -fx-pref-height: 78px;
    -fx-pref-width: 78px;
    -fx-font-size: 36px;
    -fx-alignment: center;
    -fx-padding: -2px;
    -fx-background-color: transparent;
    -fx-display-caret: false;
    -fx-highlight-fill: transparent;
    -fx-highlight-text-fill: -fx-text-fill;
}

.tile-modifier-container {
    -fx-min-width: 32px;
    -fx-min-height: 32px;
}

.tile-modifier-container .label {
    -fx-font-size: 14px;
}

.tile-modifier {
    -fx-fill: rgb(0, 12, 28);
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.tile-modifier.double-letter-modifier{
    -fx-stroke: rgb(252, 244, 163);
}

.tile-modifier.triple-letter-modifier{
    -fx-stroke: rgb(214, 112, 64);
}

.tile-modifier.double-word-modifier{
    -fx-stroke: rgb(236, 115, 236);
}

.tile-modifier.triple-word-modifier{
    -fx-stroke: rgb(115, 233, 64);
}

.gem {
    -fx-fill: linear-gradient(to bottom right, rgb(235, 121, 252), rgb(244, 197, 255));
}

.frozen {
    -fx-stroke-width: 0;
    -fx-arc-height: 44px;
    -fx-arc-width: 44px;
    -fx-fill-width: 80px;
    -fx-fill-height: 80px;
    -fx-fill: linear-gradient(to bottom right, rgba(205, 205, 205, 1), rgba(205, 205, 205, 0.3));
}

.tile-selected .tile-input {
    -fx-text-fill: white;
}

.tile-selected .tile-background {
    -fx-background-color: rgb(53, 181, 222);
    -fx-border-color: rgb(11, 77, 161);
}

.bar {
    -fx-stroke: rgba(134, 250, 237, 0.5);
    -fx-stroke-width: 28;
}

.tile-selected > .label {
    -fx-text-fill: white;
}

.tile-wildcard > .label,
.tile-wildcard .tile-input {
    -fx-text-fill: #a10000;
}

.canvas {
    -fx-background-color: rgb(26, 23, 42);
    -fx-max-height: 512px;
    -fx-max-width: 512px;
}

.board-grid *:disabled {
    -fx-opacity: 1.0;
}

.button {
    -fx-background-color: #161324;
    -fx-border-color: #A288FF;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-max-width: 28px;
    -fx-max-height: 28px;
    -fx-padding: 3px;
    -fx-background-insets: 0 0 0 0;

    -fx-scale-x: 1;
    -fx-scale-y: 1;
    transition-property: -fx-scale-x, -fx-scale-y;
    transition-duration: 0.2s;
    transition-timing-function: -fx-ease-both;
}

.button:hover {
    -fx-background-color: #A288FF;
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, #8A66FF, 10, 0, 0, 0);

    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}